Place the correct values here and rename this file to config.secret.json if you wish to run this.

{
  "MONGODB_URI": "",

  "mailConfig": {
    "service": "gmail",
    "host": "smtp.gmail.com",
    "port": 587,
    "auth": {
      "user": "@gmail.com",
      "pass": ""
    }
  },

  "CLIENTID": "",
  "SECRET": "",
  "logUrl": "http://localhost:3000/api/login",
  "regUrl": "http://localhost:3000/api/register",

  "githubClient": "",
  "githubSecret": "",
  "githubUrl": "http://localhost:3000/github",

  "openSubUser": "",
  "openSubPass": ""
}
