/* CUSTOM
--------------------------------------------------------------------- */

:root {
	--background: #111;
	--navbar: #111;
	--button: #ffc107;
	--primary: #ffc107;
	--secondary: #ffc107;
}

body {
	background: url(../components/pages/background.jpg) no-repeat center center fixed;
	background-color: var(--background);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* LOADER */
.loading {
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 3px solid rgba(255,255,255,.3);
	border-radius: 50%;
	border-top-color: #fff;
	animation: spin 1s ease-in-out infinite;
	-webkit-animation: spin 1s ease-in-out infinite;
	position: absolute;
	left: 50%;
	top: 50%;
}
@keyframes spin {
	to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	to { -webkit-transform: rotate(360deg); }
}

/* MOVIE PAGE */
.movie-left-column {
	line-height: 0;
}
.movie-center-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
	background-color: rgba(0, 0, 0, .8);
}
.movie-right-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	background-color: rgba(0, 0, 0, .8);
}

/* MOVIE ITEM */
.movie-item {
	border: 1px solid #666;
	border-radius: 0.5rem;
	padding: 1rem;
	background-color: #000;
	transition: transform .3s;
	margin: 0.5rem;
	box-shadow: 0 0 5px #000;
	line-height : 0
	
}
.movie-item:hover {
	transform: scale(1.2);
	border: 1px solid #fff;
	box-shadow: 0 0 5px #aaa;
}

/* REGISTER / SIGN IN FORM */
.register-container {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	align-items: flex-start;
}

.basic-form {
	width: clamp(200px, 75%, 400px);
	padding: 30px;
	background-color: rgba(22, 22, 22, .9);
	border-radius: 0.5rem;
}

.rounded-image {
	border-radius: 0.5rem;
}

hr {
    height: 1px;
    background-color: #333;
    border: none;
    margin: 0;
}
