/* CUSTOM
--------------------------------------------------------------------- */

:root {
	--background: #111;
	--navbar: #111;
	--button: #ffc107;
	--primary: #ffc107;
	--secondary: #ffc107;
}

body {
	background: url(../images/background.jpg) no-repeat center center fixed;
	background-color: var(--background);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

hr {
	height: 1px;
	background-color: #333;
	border: none;
	margin: 0;
}

.profile-image {
	vertical-align: middle;
	width: 32px;
	height: 32px;
	object-fit: cover;
	border: 2px solid #fff;
	border-radius: 100%;
}

.profile-image-large {
	border: 10px solid #ccc;
	border-radius: 100%;
	object-fit: cover;
	width: 160px;
	height: 160px;
}

/* LOADER
--------------------------------------------------------------------- */
.loading {
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 3px solid rgba(255,255,255,.3);
	border-radius: 50%;
	border-top-color: #fff;
	animation: spin 1s ease-in-out infinite;
	-webkit-animation: spin 1s ease-in-out infinite;
	position: absolute;
	left: 50%;
	top: 50%;
}
@keyframes spin {
	to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	to { -webkit-transform: rotate(360deg); }
}

/* MOVIE PAGE
--------------------------------------------------------------------- */

.movie-left-column {
	line-height: 0;
}

.movie-center-column {
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, .8);
}

.movie-right-column {
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, .8);
	padding: 2rem;
}

.cast-member-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.cast-member-item {
	width: 80px;
	text-overflow: ellipsis;
	margin: 0.5rem;
}

.cast-member-image {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border: 2px solid #fff;
	border-radius: 0.5rem;
	margin: 0 auto;
	display: block;
}

.movie-image-large {
	border: 5px solid #000;
}

.comment-image {
	float: left;
	width: 48px;
	height: 48px;
	object-fit: cover;
	border: 3px solid #ddd;
	border-radius: 100%;
	margin: 5px 10px 0 5px;
	vertical-align: middle;
}

.comment-username {
	font-weight: bold;
	font-size: 0.9rem;
}

.comment-created {
	font-size: 0.8rem;
	color: #666;
}

.comment-message {

}

.comment-item {
	overflow-wrap: anywhere;
	margin-top: 0.2rem;
	padding: 0.5rem;
	background-color: rgba(22, 22, 22, .9);
	border-radius: 0.5rem;
}

/* PROFILE PAGE
--------------------------------------------------------------------- */

.profile-container {
	max-width: 500px;
	background-color: #333;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 0 auto;
	padding: 1rem;
}

.profile-left-column {
	line-height: 0;
}

.profile-center-column {
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, .8);
}

.profile-right-column {
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, .8);
	padding: 2rem;
}

/* MOVIE ITEM ON HOME PAGE
--------------------------------------------------------------------- */

.movie-items-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 2rem 3rem 2rem;
}

.movie-item {
	width: 230px;
	height: 345px;
	border: 3px solid #000;
	transition: transform .3s;
	margin: 2px;
	box-shadow: 0 0 5px #000;
	/* line-height: 0; */
	color: #fff;
}

.movie-item:hover {
	z-index: 2;
	transform: scale(1.25);
	border: 3px solid #ffc107;
	/* box-shadow: 0 0 10px #aaa; */
	/* position: sticky; */
}

.test {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	width: 99%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

/* REGISTER / SIGN IN FORM
--------------------------------------------------------------------- */

.register-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.basic-form {
	width: clamp(200px, 75%, 400px);
	padding: 30px;
	background-color: rgba(22, 22, 22, .9);
	border-radius: 0.5rem;
}

.rounded-image {
	border-radius: 0.5rem;
}

.movie-hover-box {
	width: 200px;
	margin: auto;
	padding: 1rem;
	background-color: rgba(255, 215, 0, .9);
	position: relative;
	bottom: 330px;
	text-align: center;
	border: 1px solid #000;
}

.movie-hover-box a {
	color: #000;
}

.movie-title-huge {
	position: absolute;
	top: 60px;
	color: #fff;
	font-size: 4vmax;
	text-shadow: 5px 5px 10px #333;
}

.search-bar {
	max-width: 500px;
	min-width: 230px;
	width: 50%;
	margin: 2rem auto 0 auto;
	text-align:	center;
}

#overlay {
	position: fixed; /* Sit on top of the page content */
	/* display: none; Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
  }

.imdb-logo {
	width: 58px;
	height: 29px;
}

.ratings {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}