/* CUSTOM
--------------------------------------------------------------------- */

:root {
	--background: #111;
	--navbar: #111;
	--button: #ffc107;
	--primary: #ffc107;
	--secondary: #ffc107;
}

body {
	background: url(../components/images/background.jpg) no-repeat center center fixed;
	background-color: var(--background);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* LOADER */
.loading {
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 3px solid rgba(255,255,255,.3);
	border-radius: 50%;
	border-top-color: #fff;
	animation: spin 1s ease-in-out infinite;
	-webkit-animation: spin 1s ease-in-out infinite;
	position: absolute;
	left: 50%;
	top: 50%;
}
@keyframes spin {
	to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	to { -webkit-transform: rotate(360deg); }
}

/* MOVIE PAGE */
.movie-left-column {
	line-height: 0;
}
.movie-right-column {
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, .8);
}

/* MOVIE ITEM */
.movie-item {
	border: 1px solid #333;
	border-radius: 0.5rem;
	padding: 1rem;
	background-color: #000;
	transition: transform .4s;
	margin: 0.5rem;
	box-shadow: 0 0 5px #000;
	line-height : 0;
	width: 250px;
	height: 365px;
}
.movie-item:hover {
	transform: scale(1.25);
	border: 1px solid #fff;
	box-shadow: 0 0 10px #aaa;
	position: sticky;
}

/* REGISTER / SIGN IN FORM */
.register-container {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	align-items: flex-start;
}

.basic-form {
	width: clamp(200px, 75%, 400px);
	padding: 30px;
	background-color: rgba(22, 22, 22, .9);
	border-radius: 0.5rem;
}

.rounded-image {
	border-radius: 0.5rem;
}

hr {
    height: 1px;
    background-color: #333;
    border: none;
    margin: 0;
}

.movie-hover-box {
	width: 200px;
	margin: auto;
	padding: 1rem;
	background-color: rgba(255, 215, 0, .9);
	position: relative;
	bottom: 330px;
	text-align: center;
	border: 1px solid #000;
}

.movie-hover-box a {
	color: #000;
}

.movie-title-huge {
	position: absolute;
	top: 60px;
	color: #fff;
	font-size: 4vmax;
	text-shadow: 5px 5px 10px #333;
}

.search-bar {
	max-width: 500px;
	width: 50%;
	margin: 1.5rem auto 0 auto;
	text-align:	center;
}

.cast-member-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.cast-member-item {
	width: 80px;
	text-overflow: ellipsis;
	margin: 0.5rem;
}

.cast-member-image {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border: 2px solid #fff;
	border-radius: 0.5rem;
	margin: 0 auto;
	display: block;
}

.cast-member-text {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border: 2px solid #fff;
	border-radius: 0.5rem;
	margin: 0 auto;
	display: block;
}

.movie-image-large {
	border: 1px solid #000;
}