/* HEADINGS
--------------------------------------------------------------------- */

h1, h2, h3, h4, h5 {
	font-family: 'Nunito', sans-serif;
	margin: 0;
	font-weight: 500;
}

h1 {
	font-size: 2.25rem;
	line-height: 1.1;
}
h2 {
	font-size: 2rem;
	line-height: 1.1;
}
h3 {
	font-size: 1.75rem;
	line-height: 1.1;
}
h4 {
	font-size: 1.5rem;
	line-height: 1.1;
}
h5 {
	font-size: 1.25rem;
	line-height: 1.1;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

/* TEXT STYLES
--------------------------------------------------------------------- */

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.small {
	font-size: 0.75rem;
}

.big {
	font-size: 1.25rem;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.uppercase {
	text-transform: uppercase;
}

.nowrap {
	white-space: nowrap;
}